[submodule "kohana/system"]
	path = kohana/system
	url = https://github.com/kohana/core.git
[submodule "kohana/modules/auth"]
	path = kohana/modules/auth
	url = https://github.com/kohana/auth.git
[submodule "kohana/modules/cache"]
	path = kohana/modules/cache
	url = https://github.com/kohana/cache.git
[submodule "kohana/module/codebench"]
	path = kohana/module/codebench
	url = https://github.com/kohana/codebench.git
[submodule "kohana/module/database"]
	path = kohana/module/database
	url = https://github.com/kohana/database.git
[submodule "kohana/module/image"]
	path = kohana/module/image
	url = https://github.com/kohana/image.git
[submodule "kohana/module/orm"]
	path = kohana/module/orm
	url = https://github.com/kohana/orm.git
[submodule "kohana/module/unittest"]
	path = kohana/module/unittest
	url = https://github.com/kohana/unittest.git
[submodule "kohana/module/userguide"]
	path = kohana/module/userguide
	url = https://github.com/kohana/userguide.git
[submodule "ilch/module/bootstrap"]
	path = ilch/module/bootstrap
	url = https://github.com/IlchCMS/ilch2.ilch.module.bootstrap.git
[submodule "ilch/module/fontawesome"]
	path = ilch/module/fontawesome
	url = https://github.com/IlchCMS/ilch2.ilch.module.fontawesome.git
[submodule "ilch/module/jelly"]
	path = ilch/module/jelly
	url = https://github.com/IlchCMS/ilch2.ilch.module.jelly.git
[submodule "ilch/module/event"]
	path = ilch/module/event
	url = https://github.com/IlchCMS/ilch2.ilch.module.event.git
[submodule "ilch/module/jquery"]
	path = ilch/module/jquery
	url = https://github.com/IlchCMS/ilch2.ilch.module.jquery.git
[submodule "ilch/module/database"]
	path = ilch/module/database
	url = https://github.com/IlchCMS/ilch2.ilch.module.database.git
[submodule "ilch/system"]
	path = ilch/system
	url = https://github.com/IlchCMS/ilch2.ilch.system.git
[submodule "ilch/themes/pluto"]
	path = ilch/themes/pluto
	url = https://github.com/IlchCMS/ilch2.ilch.themes.pluto.git
[submodule "ilch/module/less"]
	path = ilch/module/less
	url = https://github.com/IlchCMS/ilch2.ilch.module.less.git
[submodule "ilch/module/lessphp"]
	path = ilch/module/lessphp
	url = C:\\xampp\\htdocs\\lessphp
