[submodule "ilch/system"]
	path = ilch/system
	url = ../ilch2.ilch.system.git
[submodule "ilch/theme/pluto"]
	path = ilch/theme/pluto
	url = ../ilch2.ilch.theme.pluto.git
[submodule "ilch/module/lessphp"]
	path = ilch/module/lessphp
	url = ../ilch2.ilch.module.lessphp.git
[submodule "ilch/module/jquery"]
	path = ilch/module/jquery
	url = ../ilch2.ilch.module.jquery.git
[submodule "ilch/module/bootstrap"]
	path = ilch/module/bootstrap
	url = ../ilch2.ilch.module.bootstrap.git
[submodule "ilch/module/jelly"]
	path = ilch/module/jelly
	url = ../ilch2.ilch.module.jelly.git
[submodule "ilch/module/event"]
	path = ilch/module/event
	url = ../ilch2.ilch.module.event.git
[submodule "kohana/system"]
	path = kohana/system
	url = ../../kohana/core.git
[submodule "kohana/module/cache"]
	path = kohana/module/cache
	url = ../ilch2.kohana.module.cache
[submodule "kohana/module/codebench"]
	path = kohana/module/codebench
	url = ../ilch2.kohana.module.codebench.git
[submodule "kohana/module/database"]
	path = kohana/module/database
	url = ../ilch2.kohana.module.database.git
[submodule "kohana/module/image"]
	path = kohana/module/image
	url = ../ilch2.kohana.module.image.git
[submodule "kohana/module/orm"]
	path = kohana/module/orm
	url = ../ilch2.kohana.module.orm
[submodule "kohana/module/unittest"]
	path = kohana/module/unittest
	url = ../ilch2.kohana.module.unittest.git
[submodule "kohana/module/userguide"]
	path = kohana/module/userguide
	url = ../ilch2.kohana.module.userguide.git
[submodule "ilch/module/sample"]
	path = ilch/module/sample
	url = ../ilch2.ilch.modules.sample.git
[submodule "ilch/module/fontawesome"]
	path = ilch/module/fontawesome
	url = ../ilch2.ilch.module.fontawesome.git
